
<div>
  <div class="container">
    <h5>
        <span>Academics</span>
    </h5>
    <BR>
 <div class="container">
  <div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
  <section class="main-timeline-section">
  <div class="timeline-start"></div>
  <div class="conference-center-line"></div>
  <div class="conference-timeline-content">
  <div class="timeline-article timeline-article-top">
  <div class="content-date">
  <span>2006-2016</span>
  </div>
  <div class="meta-date"></div>
  <div class="content-box">
    <p><span>SSC</span><br> Bhimashankar Secondary
      School</p>
  </div>
  </div>
  <div class="timeline-article timeline-article-bottom">
  <div class="content-date">
  <span>2016-2018</span>
  </div>
  <div class="meta-date"></div>
  <div class="content-box">
    <p><span>HSC</span><br>K.K.Wagh Arts, Commerce, Science and
     College</p>
  </div>
  </div>
  <div class="timeline-article timeline-article-top">
  <div class="content-date">
  <span>2018-2022</span>
  </div>
  <div class="meta-date"></div>
  <div class="content-box">
  <p><span>B.Tech Food Technology</span><br>Shramshakti college of food technology.</p>
  </div>
  </div>
  <div class="timeline-article timeline-article-bottom">
  <div class="content-date">
  <span>September 2023</span>
  </div>
  <div class="meta-date"></div>
  <div class="content-box">
  <p><span>Full Stack Java Development Course</span><br>EDUBRIDGE INDIA</p>
  </div>
  </div>
  </div>
  <div class="timeline-end"></div>
  </section>
