
<div class="text-center">
  <div>
    <div class="container">
      <h5>
          <span>ABOUT ME</span> 
      </h5>
<section class="about-me">
  <div class="container">
    <div class="row-cols-1">
      <div class="col-md-12">
        <div class="about-me-box">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <img class="max-width-xs" src="https://img.freepik.com/free-vector/hand-drawn-flat-design-devops-illustration_23-2149375793.jpg" />
            </div><!-- end col-md-7 -->
            <div class="col-md-6 col-xs-12">
              <p>I am Janhavi, a professional who is dedicated and versatile, and I began
                my career in Food Technology after graduating from Shramshakti College, Sangamner.
                 However, I soon discovered my true passion lay in the dynamic world of Information Technology.
                  My strong interest in computer programming, coding, and web development motivated me to
                  make the bold decision to move into the IT field. Through this transformative journey,
                   I was able to harness my creativity and analytical mindset,
                   cultivating a strong desire to tackle new challenges and devise innovative solutions.</p>

               <p> To pursue my IT aspirations, I've actively sought knowledge across various technologies,
                   enrolling in professional online courses from reputable platforms such as Edu-Bridge India and Sunbeam.
                    This commitment has honed my skills in <span>HTML, CSS, JavaScript, Bootstrap, AngularJS, Java,MySQL and Hibernate.</span>
                    As a self-motivated individual, I've embraced adaptability and self-discipline,
                    qualities that I consider invaluable in both my professional and personal life.
                      My motivation stems from a deep-seated desire to leverage my skills
                    and expertise in crafting meaningful applications that enhance the lives of people globally.</p>
            </div><!-- end col-md-5-->
          </div><!--end row -->
        </div><!-- end about-me-box -->
      </div><!-- end col-md-12-->
    </div><!-- end row-->
  </div><!-- end container -->
</section>
