<div class="container11">
  <h5>
      <span>SKILLS</span>
  </h5>
<div class="container">
<BR>
  <div class="bar front advanced1" data-skill="ANGULAR"></div>
  <br>
  <div class="bar back basic1" data-skill="MYSQL"></div>
  <br>
  <div class="bar back intermediate" data-skill="JAVA"></div>
  <br>
  <div class="bar front advanced" data-skill="CSS3"></div>
  <br>
  <div class="bar front expert" data-skill="HTML5"></div>
  <br>
  <div class="bar front expert22" data-skill="BOOTSTRAP"></div>

  <br>
  <div class="bar front advanced1" data-skill="SPRING"></div>

</div>
