<div>
  <div class="container">
    <h5>
        <span>CERTIFICATES</span>
    </h5>
</div>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css'>

<div class="content"></div>

				<div class="grid">
          <figure class="effect-bubba">
            <img src="\assets\Java Certificates.jpeg">
						<figcaption>
							<h2>Java<span>Full Stack</span>Development</h2>
						</figcaption>
					</figure>
					<figure class="effect-bubba">
            <img src="\assets\apti.jpeg" >
						<figcaption>
							<h2><span>Aptitude</span>Certificate</h2>
						</figcaption>
					</figure>

          <figure class="effect-bubba">
            <img src="\assets\Janhavi_Rajendra_Dangche20230628-69-1k9htg2.jpg">
						<figcaption>
							<h2>Online Course<span>Java</span>Programming</h2>
							<p>"I have successfully completed my Java programming course with a strong foundation in core Java."</p>

						</figcaption>
					</figure>
					<figure class="effect-bubba">
            <img src="\assets\certificate.png" >
						<figcaption>
							<h2>Online<span>JavaScript</span>Programming</h2>
							<p>"I have successfully completed my JavaScript programming course, gaining a strong foundation in JavaScript for web development."</p>

						</figcaption>
					</figure>

          <figure class="effect-bubba">
            <img src="\assets\precat22.jpg" >
						<figcaption>
							<h2>Online<span>Precat Course</span></h2>
							<p>"This precat course at Sunbeam Pune equipped me with a solid foundation in programming."</p>

						</figcaption>
					</figure>
          <figure class="effect-bubba">
            <img src="\assets\Infosys certificate UI.jpeg" >
						<figcaption>
							<h2> <span>UX Design </span>by Example</h2>
							<p>"I successfully completed my UX Design certification through Infosys, gaining valuable insights into user-centered design principles."</p>

						</figcaption>
					</figure>
          <figure class="effect-bubba">
            <img src="\assets\ScreenShot_20230924200714.jpeg" >
						<figcaption>
							<h2> Basic of<span>Web Development </span></h2>
            </figcaption>
          </figure>
      </div>
   <div>
     <div>
  </div>
