
<div class="container">
  <div class="detel">
    <h1 >I'm <span>Janhavi<br> Dangche </span></h1>
    <p>This is my website
      <br> I'm Into Software Developer | Web Developer <br>
      | Front End Developer
    </p>

<div class="about-data-btn">
<!-- <a  class="btn" id="btn" (click)="downloadCV()">Download CV</a> -->
<div class="classbox">
  <a  class="btn" id="btn" (click)="downloadCV()">Download CV</a>
</div>
</div>
  </div>

  <div class="image" >

    <img src="\assets\picc.png" alt="girl" height="490px">
  </div>
</div>

